/* ======================================================================= */
/* ======================================================================= */
/* ======================================================================= */
/* Definition of itag shadow-css is done by defining a `dummy` css-rule    */
/* for the dummy-element: `itag-css` --> its property (also dummy) `i-tag` /*
/* will define which itag will be css-shadowed                             /*
/* ======================================================================= */
itag-css {
    i-tag: i-link;  /* set the property-value to the proper itag */
}
/* ======================================================================= */
/* ======================================================================= */
/* ======================================================================= */


/* ================================= */
/* set invisiblity when not rendered */
/* ================================= */
i-link:not(.itag-rendered) {
    /* don't set visibility to hidden --> you cannot set a focus on those items */
    opacity: 0 !important;
    position: absolute !important;
    left: -9999px !important;
    top: -9999px !important;
    z-index: -1;
}

i-link:not(.itag-rendered) * {
    opacity: 0 !important;
}
/* ================================= */

i-link {
    margin: 0;
    display: inline-block;
    *display: inline; /*IE 6/7*/
    zoom: 1;
    position: relative;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

i-link[button-style="true"].i-primary >a >div,
i-link[button-style="true"].i-focussed >a >div {
    background-color: rgb(0, 120, 231);
    color: #fff;
}

i-link[button-style="true"] >a {
    display: table;
    text-decoration: none;
}

/*csslint outline-none:false*/

i-link[button-style="true"] >a >div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    padding: 0.5em 1em;
    color: inherit; /* 1 */
    font: inherit; /* 2 */
    margin: 0; /* 3 */
    overflow: visible;
    text-transform: none;
    -webkit-appearance: a; /* 2 */
    line-height: normal;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: inherit;
    font-size: 100%;
    color: #444; /* rgba not supported (IE 8) */
    color: rgba(0, 0, 0, 0.80); /* rgba supported */
    border: 1px solid #999;  /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    background-color: #E6E6E6;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset;
}


i-link[button-style="true"].i-hover >a >div,
i-link[button-style="true"] >a:hover >div,
i-link[button-style="true"] >a:focus >div {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.10)));
    background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: -moz-linear-gradient(top, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.10));
    background-image: -o-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}

i-link[button-style="true"] >a:focus >div {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.6) inset;
}

i-link[button-style="true"].i-hover >a >div,
i-link[button-style="true"] >a:hover >div,
i-link[button-style="true"].i-hover >a:focus >div,
i-link[button-style="true"] >a:hover:focus >div {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.7) inset;
}

i-link[button-style="true"] >a:focus {
    outline: 0;
}

i-link[button-style="true"].i-active.i-hover >a >div,
i-link[button-style="true"].i-active >a:hover >div,
i-link[button-style="true"].i-active.i-hover >a:focus >div,
i-link[button-style="true"].i-active >a:hover:focus >div,
i-link[button-style="true"].i-hover >a.pure-a-active >div,  /* need .pure-a-active for it gets set when "enter-pressed" on a */
i-link[button-style="true"] >a.pure-a-active:hover >div,  /* need .pure-a-active for it gets set when "enter-pressed" on a */
i-link[button-style="true"].i-hover >a.pure-a-active:focus >div,  /* need .pure-a-active for it gets set when "enter-pressed" on a */
i-link[button-style="true"] >a.pure-a-active:hover:focus >div,  /* need .pure-a-active for it gets set when "enter-pressed" on a */
i-link[button-style="true"] >a.pure-a-active >div,  /* need .pure-a-active for it gets set when "enter-pressed" on a */
i-link[button-style="true"] >a.pure-a-active:focus >div,  /* need .pure-a-active for it gets set when "enter-pressed" on a */
i-link[button-style="true"].i-hover >a:active >div,
i-link[button-style="true"] >a:hover:active >div,
i-link[button-style="true"].i-hover >a:focus:active >div,
i-link[button-style="true"] >a:hover:focus:active >div {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.8) inset, 0 0 6px rgba(0,0,0, 0.4) inset;
}

i-link[button-style="true"].i-disabled >a >div,
i-link[button-style="true"][disabled="true"] >a >div,
i-link[button-style="true"].i-disabled >a:active >div,
i-link[button-style="true"][disabled="true"] >a:active >div,
i-link[button-style="true"].i-disabled >a.pure-a-active >div, /* need .pure-a-active for it gets set when "enter-pressed" on a */
i-link[button-style="true"][disabled="true"] >a.pure-a-active >div,
i-link[button-style="true"].i-disabled.i-active >a >div,
i-link[button-style="true"].i-active[disabled="true"] >a >div,
i-link[button-style="true"].i-disabled >a:focus >div,
i-link[button-style="true"][disabled="true"] >a:focus >div,
i-link[button-style="true"].i-disabled.focussed >a >div,
i-link[button-style="true"].focussed[disabled="true"] >a >div,
i-link[button-style="true"].i-disabled >a:hover >div,
i-link[button-style="true"][disabled="true"] >a:hover >div {
    border: none;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    filter: alpha(opacity=60);
    -khtml-opacity: 0.60;
    -moz-opacity: 0.60;
    opacity: 0.60;
    cursor: not-allowed;
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset;
    cursor: default;
}

i-link[button-style="true"].i-rounded >a >div {
    border-radius: 0.3em;
}

i-link[button-style="true"].i-heavyrounded >a >div {
    border-radius: 0.5em;
}

i-link[button-style="true"].i-oval >a >div {
    border-radius: 50%;
}

i-link[button-style="true"].i-halfoval >a >div {
    border-radius: 25%;
}